* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myriad-pro,'Myriad Pro',sans-serif;
}
.board {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    /* gap: 200px; */
    margin: 50px 100px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px 20px;
    border: 1px solid grey;
    border-radius: 7px;
    margin-right: auto;
}
.container {
    display: grid;
    width: 400px;
    height: 400px;
    /* background-color: grey; */
    margin: 0 auto;
    border: 1px solid rgba(158, 158, 158, 0.432);
    box-shadow: -1px 4px 10px 2px rgb(145 138 138 / 69%), 4px 4px 6px 1px rgb(136 135 135 / 69%);
}
.btn {
    width: 80px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 7px;
    background-color: white;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.1);
    font-weight: 700;
    border: 2px solid rgba(73, 72, 72, 0.74);
}
.btn:active {
    background-color: lime;
}
.color-picker {
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    appearance: none;
    cursor: pointer;
}
.color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}
.slider {
    /* border: 1px solid black; */
    height: 7px;
    background: rgba(190, 189, 189, 0.6);
    -webkit-appearance: none;
    background-image: linear-gradient(#ff4500, #ff4500);
    background-repeat: no-repeat;
    background-size: 30% 100%;
}
.slider-number {
    width: 40px;
    border: 0.5px solid rgb(156, 154, 154);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.slider-number:focus {
    border: 2px solid black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff4500;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
.element {
    user-select: none;
    display: inline-block;
    background-color: white;
}